<div class="bloc left">
  <div class="titre"><h2>Demandes en cours</h2></div>
  <table style="width: 100%">
    <tr>
      <td colspan="5">Disponible:</td>
    </tr>
    <% wishes.select {|v| v.statut == "Disponible" && v.item.craftable? }.each do |wish| %>
      <tr><%= render :partial => "wishes/show2", :locals => { :wishe => wish, :update => {:statut => true} } %></tr>
    <% end %>

    <tr>
      <td colspan="5">En attente:</td>
    </tr>
    <% wishes.select {|v| v.statut == "Recherche" && v.item.craftable?}.each do |wish| %>
      <tr><%= render :partial => "wishes/show2", :locals => { :wishe => wish, :update => {:statut => true} } %></tr>
    <% end %>

    <tr>
      <td colspan="5">Traité:</td>
    </tr>
    <% wishes.select {|v| v.item.craftable? && ((v.statut == "Annulé") || (v.statut == "Donné")) }.each do |wish| %>
      <tr><%= render :partial => "wishes/show2", :locals => { :wishe => wish, :update => {:statut => true} } %></tr>
    <% end %>

    <tr>
      <td colspan="5">Matériaux:</td>
    </tr>
    <% wishes.select {|v| v.number > 0 && v.item.material? }.each do |wish| %>
      <tr><%= render :partial => "wishes/show2", :locals => { :wishe => wish, :update => {:number => true} } %></tr>
    <% end %>
  </table>
</div>
