<td><%= image_tag wishe.item.url, :size => "25x25" unless wishe.item.url_missing? %></td>  
<td><%= link_to wishe.item.name, recipy_path(wishe.item) %></td>
<%= form_for(wishe, :method => 'DELETE') do |f| %>
<td><%= image_submit_tag 'delete.png' %></td>
<% end %>
