<%= form_for(wishe, :method => 'DELETE') do |f| %>
<td><%= image_submit_tag 'delete.png' %></td>
<% end %>
<td><%= wishe.item.name %></td>
<td><%= button_to "Recette", recipy_path(wishe.item), :method => :get %></td>
