/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require_tree .
*/

body {
    background: url("artisanat.png") no-repeat;
    background-size: contain;
}

a {
    color: black;
}

#board {
	float: left;
	height: 350px;
}

.td_indent {
    width: 30px;
}

.section {
    clear: both;
    width: 100%;
}

.nom {
    width: 100%;
    text-align: right;
}

.nom h1 {
    margin-right: 100px;
    padding-top: 25px;
}

.nom img {
    margin-right: 20px;
    float: right;
}

.left {
    float: left;
}

.bloc {
    border: 2px solid #c0b9ac;
    margin: 10px;
}

.bloc4 {
    border: 2px solid #c0b9ac;
    margin: 10px;
    width: 400px;
}

.titre {
    font-size: 14px;
    text-align: center;
    border: 2px solid #c0b9ac;
    color: #a7605d;
    clear: both;
}

.perso {
    float: right;
    padding-right: 50px;
}

.button {
    padding-top: 4px;
}

.version {
    float: right;
    font-size: 10px;
    color: gray;
}

.color {
    color: #a7605d;
}
