<!DOCTYPE html>
<html>
<head>
  <title>Crafting GW2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "prototype", "effects", "controls" %> 
  <%= csrf_meta_tags %>
</head>
<body>
<div class="version">Version 1.2 - mise à jour le 20 juillet 2012</div>
<%= yield %>

</body>
</html>
